:root {
  --body-background-color: #f5f5f5;
  --header-background-color: #ECECEC;
  --dark-background-color: #2F303A;
  --section-light-background-color: #F5F4FA;
  --dark-text-color: #212121;
  --main-text-color: #757575;
  --white-text-color: #fff;
  --highlited-text-color: #2196f3;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  
  background-color: var(--body-background-color);
  color: var(--main-text-color);
}

.list-style {
  list-style: none;
}

.page-header {
  background-color: var(--header-background-color);
}

.page-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

}

.specialty-title {
  font-weight: 700;
  line-height: 1.17;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.section-title,
.specialty-title,
.team-title {
  color: var(--dark-text-color);
}


.specialty-description {
  line-height: 1.71;
}

.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}


.nav-list {
  color: var(--dark-text-color);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-color {
  color: var(--highlited-text-color);
}

.section-hero {
  background-color: var(--dark-background-color);
}

.section-team {
  background-color: var(--section-light-background-color);
}

.page-footer {
  background-color: var(--dark-background-color);
}

.page-footer,
.page-footer > .logo {
  color: var(--white-text-color);
}

.address-footer {
  font-style: normal;
  line-height: 1.71;
}

.company-address {
  opacity: .6;
  text-decoration: none;
  line-height: 1.14;
  
  color: var(--white-text-color);
}



.link {
  font-weight: 500;
  text-decoration: none;
  
  color: var(--dark-text-color);
}

.link:hover,
.link:focus {
  color:  var(--highlited-text-color);
}

.btn {
  cursor: pointer;
}

.btn-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;


  text-align: center;
  letter-spacing: 0.06em;

  background: #2196F3;
  color: var(--white-text-color);
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 10px 32px;

}

.btn-filter {
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  padding: 6px 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--dark-text-color);
}

.btn-filter:hover,
.btn-filter:focus {
  background: #2196F3;
  color: var(--white-text-color);
}



.portfolio-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--dark-text-color);
}

.portfolio-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;


  color: var(--main-text-color);
}